﻿@model SpaViewModel

<h1 class="main-title my-4">New SPA Request</h1>

<form asp-action="Create" method="post">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label asp-for="Spa.Agreement" class="col-sm-4 col-form-label col-form-label-sm">Agreement</label>
                <div class="col-sm-8">
                    <input class="form-control form-control-sm" asp-for="Spa.Agreement"/>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Spa.Country" class="col-sm-4 col-form-label col-form-label-sm">Country</label>
                <div class="col-sm-8">
                    <select class="form-control form-control-sm" asp-for="Spa.Country" asp-items="Model.Countries"></select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Spa.ProjectDescription" class="col-sm-4 col-form-label col-form-label-sm">Project description</label>
                <div class="col-sm-8">
                    <input class="form-control form-control-sm" asp-for="Spa.ProjectDescription"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </div>
    </div>

</form>